*{
margin: 0;
padding: 0;
font-family: "Poppins",sans-serif;
box-sizing: border-box;
}
body{
    background: #080808;
    color:white;
}
#header{
    width:100%;
    height: 100vh;
   /* background-image:url(1.avif);
    background-size: cover;
    background-position: center;*/
}
.logo{
    display: flex;
    align-items: center;
}
.D{
    font-size: 80px;
    color: palevioletred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.iya{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container{
    padding:10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background-color:palevioletred; 
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header_section{
    display: flex;
    
    justify-content: space-between;
}
.header_image img{
     margin-top: 50px;
     margin-left: 50px;
     height: 500px;
}
.header_text p{
    font-size: 30px;
    
}
.header_text h1{
    font-size: 60px;
}
.header_text{
    margin-top: 15%;
    margin-left: 5%;
}
.header_text h1 span{
    color:palevioletred;
}

.about{
    padding:65px 0;
    color:#ababab
}
.row{
    display: flex;
   justify-content:space-around;
   flex-wrap: wrap;
}
.about-1{
   flex-basis: 35%;
}
.about-2{
    flex-basis: 50%;
}
h1{
    font-size: 60px;
    font-weight: 600;
    color:white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
   
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background: #ff004f;
    position:absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab-contents ul li span{
    color:#b15471;
    
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#services{
    padding:30px 0;
}
.services_list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services_list div{
    background: #262626;
    padding:40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services_list h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 20px;
}
.services_list div a{
text-decoration: none;
color: white;
margin-top: 20px;
display: inline-block;
}
.services_list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work img{
    height:350px;
    width:350px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work{
    position:relative;
    overflow: hidden;
}
.layer{
    width:100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#ff004f);
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
a span{
    background-color:white;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    width:60px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-top: 17px;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
 button{
   text-align: center;
   margin:0 auto;
  width:200px;
  height: 40px;
  height: 50px;
  margin-left:  650px;
  margin-top: 20px;
background-color: #000000;
border-radius: 5px  ;
border:2px solid #ff004f  ;
color:white;
 transition: background 0.5s;
}
button:hover{
    background: #ff004f;

}
.contact_left{
    
}

.contact_left img{
    height:25px;
    width:25px;
}
#contact.row{
    display:flex;
    justify-content: center;
}
.contact_left p{
    margin-top: 10px;
}
.contact_right{
    margin-left: 10%;
    
}
.social_icons img {
   
   margin-top: 10px;
   margin-right: 10px;
   border-radius: 30px;
   transition:tranform 0.5s;
}
.social_icons img:hover{
    transform:translateY(-5px);
}
.cv{
    height: 50px;
    width:200px;
    border:2px solid red;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ff004f;;
border-radius: 5px  ;
border:2px solid #ff004f  ;
 transition: background 0.5s;
}
.cv a{
    color:white;
    text-decoration: none;
    
}
#contact.contact_right{
    flex-wrap: wrap;
    flex-direction: column;
   
}
form.button{
 margin-right: 100px;
}
form input, form textarea{
width:100%;
border:0;
outline: none;
background: #262626;
padding: 15px;
margin: 15px 0;
color:#fff;
font-size: 18px;
}
.contact_right button{
    cursor: pointer;
   
}
.copyright{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    margin-top: 20px;
}
html{
    scroll-behavior: smooth;
}

@media only screen and (max-width:600px){

}
#msg{
    color: #61b761;
   margin-top: 5px;
    margin-left: 650px;
    display:block;
}





